<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="3" android:versionName="1.0.2" package="kr.co.heynow.memorynote" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="31" />
	<application android:label="메모리노트" android:theme="@style/MainTheme" android:icon="@drawable/disk">
		<!-- Google Mobile Ads Activity -->
		<activity android:name="com.google.android.gms.ads.AdActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"></activity>
		Denote the referenced Google Play services version
		<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" /><!-- TODO: Replace with your real AdMob app ID --><meta-data android:name="com.google.android.gms.ads.APPLICATION_ID" android:value="ca-app-pub-4619884321108266~2052261733" /></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<queries>
		<intent>
			<action android:name="android.intent.action.SENDTO" />
			<data android:scheme="mailto" />
		</intent>
	</queries>
</manifest>